<div class="p-5 vh-100 hero-main">

  <div class="row">
    <div class="container shadow-lg px-4 py-3 col-9 rounded-4 bg-light">
      <h2 class="pb-3" style="font-size: 35px" >Odaberite nacin placanja</h2>
      <div>
        <div>
          <mat-card >
            <a (click)="redirect()"><img src="assets/PayPal_2023_Logo.jpg" width="300" height="150" ></a>
            <button (click)="createPaypalPayment()">Click Me</button>
            <button (click)="confirm()">Confirm</button>
          </mat-card>
        </div>

      </div>
    </div>
  </div>
</div>

